@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/*
font-family: 'Mulish', sans-serif;
font-family: 'Rubik', sans-serif; 
font-family: 'Manrope', sans-serif;
*/


/* color theme */
:root{
 --accent-color : #24285B;
 --shadow: 0px 30px 100px 0px rgba(13, 16, 37, 0.06);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
    sans-serif;
}

#contact {
    width: 100% !important;
    box-shadow: none !important;
    padding: 0 !important;
    background: transparent !important;
}

.wizard>.content {
    margin: 0 !important;
    background: transparent !important;
}

.wizard>.actions {
    background: transparent !important;
    width: auto !important;
}

#contact .form-heading {
    max-width: 600px;
    margin: 0 auto;
}

#contact .form-heading h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 113.5%;
    /* or 32px */
    text-align: center;
    color: #183C67;
    margin-bottom: 15px;
}

#contact .form-heading p {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 183.5%;
    /* or 22px */
    text-align: center;
    color: #2F2F2F;
    margin-bottom: 30px;
}

#contact .formsec {
    max-width: 550px;
    margin: 0 auto;
}

#contact .formsec.carousel {
    max-width: 750px;
}

.wizard>.content>.body {
    min-height: 100vh !important;
    padding: 0 !important;
    width: 100% !important;
}

.wizard>.content {
    min-height: 100vh !important;
}

.wizard>.content>.body {
    height: auto !important;
}

.wizard>.content>.body.current {
    position: relative !important;
}

.wizard>.actions {
    position: fixed !important;
    right: 0 !important;
    bottom: 0 !important;
}
.wizard>.steps {
    position: fixed !important;
    height: 8px !important;
    z-index: 2;
}

.wizard>.steps ul {
    height: 100% !important;
    display: flex;
}

.wizard>.steps ul li {
    height: 100% !important;
    flex: 1 1 auto;
}

.wizard>.steps ul li a {
    padding: 0px !important;
    height: 100% !important;
    display: block !important;
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0px !important;
    position: relative;
    overflow: hidden;
    background: #DFEBFC !important;
}

.wizard>.steps ul li a span {
    display: none !important;
}

.wizard>.steps .done a {
    background: transparent !important;
}

.wizard>.steps .done a:after {
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #436A9F !important;
    -webkit-animation: fadeleft 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
    animation: fadeleft 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
}

.wizard>.steps .current a:after {
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #436A9F !important;
    -webkit-animation: fadeleft 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
    animation: fadeleft 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
}

.wizard>.steps .current a {
    background: #DFEBFC !important;
}

.wizard>.steps .error a {
    background: #06C0FB !important;
}

@-webkit-keyframes fadeleft {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

@keyframes fadeleft {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}
#contact .sec-wrapper {
    height: 100%;
    padding: 50px 0px;
    padding-bottom: 100px;
}
.nav-wrapper{
    padding: 10px 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}
.nav-wrapper .right-side{
    display: flex;
    gap: 15px;
    align-items: center;
}
.search-bar-wrapper {
    position: relative !important;
    width: 100%;
}
.search-bar-wrapper input {
    background: #F8F8F8;
    border-radius: 36.7248px;
    outline: none;
    border: none;
    padding: 10px 20px;
    padding-left: 55px;
    font-weight: 500;
    font-size: 14.6899px;
    width: 100%;
}
.search-bar-wrapper input::placeholder {
    font-weight: 500;
    font-size: 14.6899px;
    color: #CCCCCC;
}
.search-bar-wrapper img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    z-index: 2;
}
.profile-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 150px;
}
.profile-img{
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
    border-radius: 50px;
    overflow: hidden;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile-det h5.name{
    font-size: 18px;
    margin-bottom: 0;
}
.profile-det p.desig{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    text-decoration: none !important;
}
.profile-det *{
    color: #2F2F2F;
    text-decoration: none !important;
}
span.notifi{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
}
header{
    position: sticky;
    top: 0;
    z-index: 9;
    background: white;
}
span.notifi:after{
    content: '';
    position: absolute;
    top: 0;
    right: 3px;
    width: 10px;
    height: 10px;
    background: #F8A825;
    border-radius: 50%;
}
.heading{
    margin-bottom: 15px;
    margin-top: 15px;
}
.heading .title{
    color: #4A4A4A;
    font-weight: 600 !important;
    font-size: 28px;

    margin-bottom: 0px;
    /* identical to box height */

    text-align: center;
}
.heading .sub{
    font-weight: 300;
    font-size: 16px;
    margin-top: 0;
    /* identical to box height */

    text-align: center;

    color: #4A4A4A;
    margin-bottom: 0;
}
.block-wrap{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px !important;
}
.bg-lightblue{
    background: #F9FAFB;
}
.block-wrap .block{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 45px;
    border: 1px solid #EDEDED;
    background: white;
    transition: 0.5s ease-in-out;
}
.block-wrap .block:hover{
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.12);
}
.block-wrap .block p{
    max-width: 180px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;

    color: #000000;
    margin-bottom: 0;
    margin-top: 20px;
}
.c_card{
    background: white;
}
.c_card .card-header .heading *{
    text-align: left !important;
}
.c_card .card-header{
    background: white;
    padding: 15px 30px;
}
.c_card .card-body p.theme-p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;

    color: #4A4A4A;
    margin-top: 20px;
    max-width: 650px;
}
.c_card .card-body{
    padding-top: 25px;
}
.c_card .card-body p.theme-p span{
    color: #436A9F;
    font-weight: 600;
}
a.cta{
    background: #436A9F;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12),
    0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
a.plan-cta{
    background: transparent;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: #436A9F;
    border-radius: 4px;
}

.code-editor-wrapper{
    width: 100%;
    max-width: 550px;
    background: #534E59;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}
.code-editor-wrapper .card-body{
    overflow-x: auto;
    overflow-y: hidden;
}
.code-editor-wrapper .code-header{
    padding: 10px 20px;
    background: #322F36;
}
.code-editor-wrapper p{
    margin-bottom: 0;
    font-size: 14px;
    color: white;
}
.code-editor-wrapper textarea{
    color: white;
    background: transparent !important;
    outline: none !important;
    border: none !important;
    padding: 25px 20px !important;
    height: auto !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    letter-spacing: 1.2px;
}
a{
    text-decoration: none;
}
.actions{
    display: none !important;
}
li{
    list-style: none;
}
.steps-wrap{
    display: flex;
    align-items: center;
    margin: 0;padding: 0;
}
.steps-wrap li{
    flex: 1 1 auto;
    height: 100%;
    display: block;
    background: rgb(233, 233, 233);
    position: relative;
}

.steps-wrap li.active:after {
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #436A9F !important;
    -webkit-animation: fadeleft 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
    animation: fadeleft 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
}
.input-group{
    width: 100%;
    margin-bottom: 15px;
    max-width: 280px;
}
.input-group:last-child{
    margin-bottom: 0;
}
.input-group .input-wrapper{
    width: 100%;
    position: relative;
}
.input-wrapper input{
    padding: 10px 20px;
    background: #F3F3F3;
    border-radius: 3px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
}
.input-wrapper input::placeholder{
    font-size: 14px;
    color: #131313;
    opacity: 1;
    font-weight: 200 !important;
}
.user-journey-form-1{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}
.main-title{
    font-size: 24px;
    color: #4A4A4A;
    margin-bottom: 35px;
    margin-top: 25px;
}
.main-title.white{
    color: white !important;
}
.title-1{
    font-size: 18px;
    margin-bottom: 0;
}
.bg-bluegradient{
    background: linear-gradient(5.1deg, #436A9F 4.16%, #204679 95.97%);
}
.prof-img{
    overflow: hidden;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.prof-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.prof-icons{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    width: 120px;
    margin-top: 15px;
}
.prof-icons a{
    padding: 5px ;
    border-radius: 5px;
    font-size: 14px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}
.prof-icons  a:nth-child(1){
    color: #436A9F;
    border: 2px solid #436A9F;
}
.prof-icons  a:nth-child(1):hover{
    color: #ffffff;
    background: #436A9F;
    border: 2px solid #436A9F;
}
.prof-icons  a:nth-child(2){
    color: #E62B2B;
    border: 2px solid #E62B2B;
}
.prof-icons  a:nth-child(2):hover{
    color: #ffffff;
    background: #E62B2B;
    border: 2px solid #E62B2B;
}
.profile-devide{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
}

.profile-devide{
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
   
    padding: 25px 20px;
}
.profile-devide.no-grid{
    display: block !important;
}
.sec-col{
    padding-left: 0 !important;
}
.first-col{
    padding-right: 0 !important;
}

@media(max-width: 760px) {
    .profile-devide {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .sec-col {
        padding-left: 15px !important;
    }

    .first-col {
        padding-right: 15px !important;
    }
}
a.cta i,
a.plan-cta i{
    margin-right: 10px !important;
}
.stack{
	width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: table;
	opacity: 0.5;
}
.mt-100{
	margin-top:100px;
}
.pd-30{
	padding-top:30px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-100 {
    margin-bottom: 100px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-100 {
    padding-bottom: 100px;
}

.p-50 {
    padding: 50px;
}

.p-20 {
    padding: 20px;
}

.p-40 {
    padding: 40px;
}

.cta-primary{
    padding: 10px 30px;
    font-size: 16px;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    border-radius: 50px;
    background: var(--accent-color);
    border: 1px solid transparent;
    display: inline-block;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.cta-primary:hover{
    background: transparent;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}
.cta-secondary{
     padding: 10px 30px;
     font-size: 16px;
     color: var(--accent-color);
     font-family: 'Rubik',
     sans-serif;
     font-weight: 500;
     border-radius: 50px;
     background: transparent;
     border: 1px solid transparent;
     display: inline-block;
     transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.cta-secondary:hover {
    background: transparent;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}
.main-nav .nav-btns,
.main-nav .nav-list{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
}
.main-nav .nav-btns{
    gap: 15px;
}
.main-nav .nav-list li a{
    padding: 10px 20px;
    color: #4F5665;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.main-nav .nav-list li a:hover{
    color: var(--accent-color);
}
/* .main-nav .nav-list li a:after{
    content: '';
    background: var(--accent-color);
    width: 50%;
    height: 8px;
    z-index: -1;
    position: absolute;
    bottom: 10px;
    left: 15px;
    transform-origin: left;
    transform: scaleX(0);
    opacity: 0.3;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
} */
.main-nav .nav-list li a:hover:after{
    transform: scaleX(1);
}
.main-nav.landing-nav .logo-wrapper{
    width: 150px;
}
.main-nav.landing-nav .logo-wrapper img{
    width: 100%;
}
.main-nav.landing-nav{
    padding: 10px 40px;
    position: sticky;
    top: 0px;
    z-index: 99;
    background: white;
}

/* landing header area */

.landing-header-area{
    position: relative;
    overflow: hidden;
    padding: 160px 0px;
    padding-top: 80px;
    z-index: 4;
}
.banner-con{
    position: relative;
}
.heading-1{
    font-family: 'Mulis', sans-serif;
    color: var(--accent-color);
    font-weight: 700;
}
.para{
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    color: #4F5665;
}
.cta-lg{
    padding: 18px 55px;
    font-size: 16px;
    border-radius: 100px;
}
.cta-shadow{
    box-shadow: 0px 18px 54px 0px rgba(36, 40, 91, 0.3);
}
.cta-shadow:hover{
    box-shadow: none;
}

/* banner bottom logos area */

.banner-bottom-logos-area{
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateY(-50%);
    position: relative;
    z-index: 5;
    
}
.banner-bottom-logos-area .logos-wrapper{
    padding: 40px 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 15px;
    place-content: center;
    box-shadow: 0px 30px 100px 0px rgba(13, 16, 37, 0.06);
}
.logos-wrapper .logos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading-2{
    font-style: normal;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    line-height: 50px;
    /* identical to box height, or 143% */
    color: #0B132A;
    position: relative;
}
.with-design{
    position: relative;
    padding-top: 22px;
}
.with-design:after{
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    width: 50px;
    height: 10px;
    background: #B1D6FA;
    border-radius: 50px;
    z-index: 2;
}
.with-design:before{
    top: 0;
    left: 30px;
    content: '';
    position: absolute;
    width: 50px;
    height: 10px;
    background: #D1E8FF;
    border-radius: 50px;
    z-index: 2;
}
.sec3{
    padding-top: 100px;
}
.bg-grey{
    background: linear-gradient(180deg, #F8F8F8 70%, rgba(248, 248, 248, 0));
}
.heading-3{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 50px;
    /* identical to box height, or 227% */
    color: #0B132A;
    font-family: 'Rubik', sans-serif;
    line-height: 30px;
}
.theme-list li{
    font-family: 'Rubik',
    sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    color: #4F5665;
    list-style: disc;
    list-style-position: inside;
}
.img0{
    max-width:100% ;
}
.theme-list{
    padding-left: 0;
}
.check-card-wrap{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 25px 25px;
    /* box-shadow: var(--shadow); */
}
.check-card-wrap .check{
    width: 80px;
    margin: 15px auto;
}
.check-card-wrap .check img{
    width: 100%;
}
.owl-dots{
    position: absolute;
    top: 0;
    right: 0;
}
.owl-carousel{
    padding-top: 50px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
    background: var(--accent-color);
    transform: scale(1.2);
}
.owl-theme .owl-dots .owl-dot span{
    background: #c4c4c4;
}

.quote-sec{
    padding: 30px 0px;
    padding-top: 165px;
    position: relative;
    overflow: hidden;
}
.quote-wrapper{
    position: relative;
    padding-top: 10px;
    max-width: 550px;
    margin: 0px auto;
}
.quote-wrapper:after{
    content: '"';
    font-family: 'Rubik', sans-serif;
    font-size: 120px;
    line-height: 0px;
    position: absolute;
    top: 0;
    left: 50%;
    font-style: italic;
    font-weight: 500;
    text-align: center;

    color: #000000;

    opacity: 0.3;
    transform: translateX(-50%);
}
.quote-wrapper h2{
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 53px;
    /* or 132% */
    text-align: center;
    color: #0B132A;
    font-family: 'Rubik', sans-serif;
}
footer.main-footer{
    padding: 65px 0px;
    padding-top: 130px;
    background: #F8F8F8;
}
.ft-head{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */

    margin-top: 25px;
    color: #0B132A;
}
.ft-links{
    padding-left: 0;
    margin-bottom: 0;
}
.ft-links li a{
    display: inline-block;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    color: #4F5665;
    font-family: 'Rubik', sans-serif;
    transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.ft-links li a:hover{
    transform: translateX(5px);
}
.social-links{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 0px;
}
.social-links li a{
    width: 30px;
    height: 30px;
    background: white;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.social-links li i{
    color: #24285B;
     transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.social-links li a:hover{
    background: #24285B;
}
.social-links li a:hover i{
    color: white;
}
p.copy-text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */

    color: #AFB5C0;
}
.ft-logo{
    margin-top: 30px;
}
.banner-cta{
    padding: 45px 40px ;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 30px 100px 0px rgba(13, 16, 37, 0.06);
    transform: translateY(50%);
}
.banner-cta .heading-3{
    line-height: 34px;
    margin-bottom: 0;
}
.mobile-nav{
    width: 100%;
    max-width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px 0px ;
    background: white;
    left: -400px;
    transition: 0.5s ease-in-out;
}
.mobile-nav.active{
    left: 0;
}
.mobile-nav ul{
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    width: 100%;
}
.mobile-nav ul li{
    width: 100%;
}
.mobile-nav ul li a{
    border-bottom: 1px solid rgba(36, 40, 91, 0.1);
    text-align: left;
    display: block;
    width: 100%;
}

.mobile-nav .menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.mobile-nav .close{
    width: 22px;
    cursor: pointer;
}
.mobile-nav .close img{
    width: 100%;
}
.menu-bar{
    display: none;
    margin-right: 10px;
    cursor: pointer;
}

/* responsive */

@media(max-width: 1068px){
    .main-nav .nav-wrapper{
        padding: 0px !important;
    }
    .main-nav.landing-nav{
        padding: 10px 20px;
    }
    .main-nav .nav-wrapper .nav-list{
        display: none;
    }
    .menu-bar{
        display: inline-block;
    }
}

@media(max-width: 650px){
    .nav-btns li:nth-child(1){
        display: none;
    }
}

.sec-head{
    font-family: 'Manrope', sans-serif;
    font-size: 38px;
    font-weight: 700;
}
.theme-color{
    color: var(--accent-color) !important;
}
.white-color{
    color: white !important;
}
.journey-para{
    font-size: 14px;
    font-weight: 400;
}

/* price card */
.price-card{
    padding: 28px 20px;
    background: #FFFFFF;
    box-shadow: 0px 14px 50px rgba(25, 43, 67, 0.08);
    border-radius: 14px;
    margin-bottom: 30px;
}
.price-card.custom{
    padding: 10px 20px;
}
.price-card .price-header{
    padding-bottom: 20px;
    border-bottom: 1px solid #CFD1D7;
    margin-bottom: 25px;
}
.price-card .price-body .head{
    font-weight: bold;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */
    color: #44474A;
}
.price-card .price-body .price-inc-list{
    padding-left: 0;
    position: relative;
    margin-top: 20px;
}
.price-inc-list li{
    position: relative;
    padding-left: 18px;
    color: rgba(0, 0, 0, 0.8);
    flex-grow: 1;
    font-size: 16px;
    margin-bottom: 10px;
}
.price-inc-list li:last-child{
    margin-bottom: 0;
}
.price-inc-list li:before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background: #0288F7;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}
.price-card .price-body .head{
    font-size: 18px;
}
.price-card .price-header .para{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(68, 71, 74, 0.8);
}
.price-card .price-header .main-price{
    font-weight: 600;
    font-size: 36px;
    line-height: 160%;
    /* identical to box height, or 58px */
    color: #44474A;
}
.price-card .price-header .price-cat{
    color: #2F70A6;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
}
.price-body button.add-btn{
    text-transform: uppercase;
    background: var(--accent-color);
    border-radius: 100px;
    padding: 20px 25px;
    color: white;
    font-size: 14px;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    outline: none;
    border: none;
    letter-spacing: 1.44333px;
    margin-top: 30px;
    box-shadow: 0px 20px 54px 0px rgba(36, 40, 91, 0.3);
}
.price-card.scale-up{
    transform: translateY(-50px);
}
.price-tabs{
    display: flex;
    align-items: center;
    max-width: 305px;
    background: #DBF2FD;
    border-bottom: 0px !important;
    padding: 10px ;
    border-radius: 50px;
    position: relative;
    gap: 5px;
    margin: 20px auto;
}

.price-tabs li{
    border: none !important;
    outline: none !important;
}
.price-tabs li a{
    padding: 15px 15px !important;
    background: transparent;
    border-radius: 30px !important;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0 !important;
    width: 140px;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #44474A;
}
.price-tabs li a.active{
    background: var(--accent-color) !important;
    color: white !important;
    border: none !important;
    outline: none !important;
}
.price-tabs li a:hover{
    border: 1px solid rgba(36, 40, 91, 1) !important;
    color: rgba(36, 40, 91, 1);
}
button.bordered{
    padding: 12px 25px ;
    border-radius: 50px;
    outline: none;
    border: 1px solid #CDD8E0;
    background: transparent;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: var(--accent-color);
    margin: 10px 0px;
    transition: 0.3s ease-in-out;
}
button.bordered svg{
    margin-left: 10px;
    transition: 0.3s ease-in-out;
}
button.bordered:hover{
    border: 1px solid var(--accent-color);
}
button.bordered:hover svg{
    transform: translateX(5px);
}
button.bordered.style-2{
    background: #E4F6FF;
    border: none;
    padding: 15px 25px;
}
@media(max-width: 760px){
    .price-card.scale-up{
        transform: translateY(0px);
    }
}
.breadcrumbs{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}
.breadcrumbs li a{
    color: white;
    opacity: 0.5;
}
.breadcrumbs li.active a{
    opacity: 1;
}
.pay-info-sec{
    padding-bottom: 200px;
}
.c_card{
    background: #FFFFFF;
    border: 1px solid #E8E9EE;
    box-sizing: border-box;
    box-shadow: 0px 14px 50px rgba(25, 43, 67, 0.06);
    border-radius: 10px;
    padding: 25px 20px;
    margin-bottom: 25px;
}
.c_card .head{
    font-weight: bold;
    font-size: 30px;
    line-height: 140%;
    font-family: 'Manrope', sans-serif;
    /* identical to box height, or 42px */
    color: #44474A;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}
.form-group label{
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    /* identical to box height, or 24px */
    color: #44474A;
    font-family: 'Manrope',
    sans-serif;
    margin-bottom: 5px;
}
.form-group .c_input-group{
    width: 100%;
    position: relative;
}
.form-group .c_input-group input,
.form-group .c_input-group textarea{
    width: 100%;
    padding: 10px 20px;
    background: #F8FBFD;
    border: 1px solid #DAE6EC;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 14px;

}
.form-group .c_input-group input::placeholder,
.form-group .c_input-group textarea::placeholder{
    font-size: 14px;
    color: rgba(68, 71, 74, 0.8) !important;
}
.card-det{
    display: flex;
    align-items: center;
    width: 40%;
    position: absolute;
    top: 0;
    right: 15px;
    height: 100%;
}
.card-det input{
    padding: 0 !important;
    text-align: center;
    height: 95%;
    border-radius: 0px;
    background: transparent;
    border: none !important;
    outline: none !important;
}
.card-input{
    position: relative;
}
.card-input > input{
    padding-left: 45px !important;
}
.card-input > img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
.c_submit-btn{
    padding: 12px 30px;
    background: var(--accent-color);
    border-radius: 50px;
    color: white;
    outline: none;
    border: none;
     transition: 0.3s ease-in-out;
     margin-top: 20px;
}
.c_submit-btn svg path{
    stroke: white;
}
.c_submit-btn svg{
    margin-left: 10px;
    width: 20px;
    transition: 0.3s ease-in-out;
}
.c_submit-btn:hover svg{
    transform: translateX(5px);
}
.pay-info-wrap{
    margin-top: -150px;
    margin-bottom: 55px;
}
.c_para{
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}
.c_head{
    font-size: 24px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    color: #0B132A;
}
.check-email-wrap{
    padding: 150px 20px !important;
}
.btn-blue{
    background: #436A9F;
    border: 2px solid #436A9F;
    padding: 8px 25px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12),
    0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 600;
}
.info-modal .head{
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #436A9F;
    font-weight: 700;
    margin-bottom: 35px;
}
.info-modal .modal-dialog{
    max-width: 350px;
}
.info-modal img{
    margin-bottom: 25px;
}
.info-modal .modal-body{
    padding: 45px 15px;
}
*[data-bs-toggle=modal]{
    cursor: pointer;
}

/* toggle switcher styling */
.switch {
    display: inline-flex;
    margin: 0 10px;
}

.switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch input[type=checkbox]:checked+label {
    background: #DEEBFC;
}

.switch input[type=checkbox]:checked+label::after {
    left: calc(100% - 4px);
    transform: translateX(-100%) scale(1.5);
    background: var(--accent-color);
}

.switch label {
    cursor: pointer;
    width: 48px;
    height: 24px;
    background: #f0f0f0;
    display: block;
    border-radius: 24px;
    position: relative;
}

.switch label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background: #969696;
    border-radius: 16px;
    transform: scale(1.5);
    transition: 0.3s;
}
/* toggle switcher styling */


/* inputs for modal step */

.modal-step-wrapper .form-group{
    width: 100%;
    position: relative;
    margin-bottom: 0;
}
.modal-step-wrapper .form-group .input-group{
    width: 100%;
    position: relative;
    max-width: 100%;
}
.modal-step-wrapper .form-group .input-group input{
    width: 100%;
    background: #F3F3F3;
    border-radius: 4px;
    padding: 15px 20px;
    border: none;
    outline: none;
}
.journey-name::placeholder{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    opacity: 1;
    color: #436A9F;
}
.modal-step-wrapper .radio-wrap{
    display: flex;
    align-items: center;
}
.modal-step-wrapper .radio-wrap > label{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: -0.05px;

    color: #66788A;

    opacity: 0.5;
}

.modal-step .modal-header h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #436A9F;
}
.modal-step .modal-header .close{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    color: #FF3737;
    border: none;
    outline: none;
    background: transparent;
}

.modal-step .modal-header .close:focus{
    outline: none;
    border: none;
}
.modal-step .modal-footer button{
    background: #436A9F;
    min-width: 180px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    padding: 12px 15px;
    color: #FFFFFF;
}
.modal-step .modal-dialog{
    max-width: 1100px;
}
.btn{
    padding: 12px 20px;
    text-align: center;
    border-radius: 4px;
}
.btn img{
    margin-right: 10px;
}
.btn.bordered{
    background: #Ffff;
    border-radius: 4px;
    border: 2px solid #436A9F;
    min-width: 180px;
    color: #436A9F;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    color: #436A9F;
}
.btn.bordered:hover{
    border: 2px solid #436A9F;
}
.modal-step .modoal-dialog,
.modal-step .modoal-content,
.modal-step .modal-header,
.modal-step .modal-footer{
    border-radius: 0px !important;
}
/* inputs for modal step */

.add-journey-wrap{
    margin-top: 20px;
    padding: 25px 0px;
    min-height: 250px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.add-journey{
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.add-journey .add-inputs{
    display: flex;
    align-items: flex-start;
    max-width: 800px;
    gap: 15px;
    width: 100%;
}

.add-journey .add-inputs > div{
    flex: 1 1 auto;
}
.add-journey .add-inputs > div:nth-child(2){
    max-width: 150px;
}
.modal-step .select-wrap{
    width: 100%;
    position: relative;
}
@media(max-width: 870px) {
    .add-journey .add-inputs {
        flex-wrap: wrap;
    }

    .add-journey .add-inputs>div:nth-child(2) {
        max-width: 100%;
        flex: 1 1 90%;
    }
}
@media(max-width: 600px){
    .add-journey-wrap .add-journey{
    flex-direction: column;
    }
    .radio-wrap{
        margin-top: 15px;
    }
}
.modal-step .select-wrap img{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
}
.modal-step .select-wrap select{
    width: 100%;
    background: #F3F3F3;
    cursor: pointer;
    border-radius: 4px;
    padding: 15px 20px;
    border: none;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
   
    appearance: none;
    -webkit-appearance: none;
    font-size: 14px;
    /* identical to box height, or 143% */

    letter-spacing: -0.05px;

    color: #131313;
}
.modal-step input::placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    /* identical to box height, or 143% */

    letter-spacing: -0.05px;
    opacity: 1;
    color: #131313;
}
.modal-step input, select{
    height: 55px;
}
.add-btn button{
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 2px solid #436A9F;
    background: white;
    border-radius: 4px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    height: 55px;
    /* identical to box height, or 133% */

    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    color: #436A9F;
}
.select-wrap.style-2 select{
    background: transparent !important;
    padding: 12px 10px;
    border-radius: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
}
.modal-step.filter-modal .modal-dialog{
    max-width: 600px;
    top: 20%;
    border: none !important;
}
.url-wrap input{
    position: relative;
    padding-left: 93px !important;
    max-width: 280px;
}
/* .url-wrap .form-group{
    margin-bottom: 10px;
} */
.url-wrap .input-group:after{
    content: 'https://';
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    transform: translateY(-51%);
    color: #436A9F;
}
.url-wrap{
    min-height: 130px;
}
.add-journey{
    margin-bottom: 15px;
}